* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

    background-color: FFFFFF;
    padding: 15px;
    /* max-width: 1000px; */

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(122, 122, 122);
}

.btn {
    padding: 6px 12px;
    border-radius: 5px;
    color: bisque;
    background-color: blue;
    border: none;
    cursor: pointer;
}

/* navber end  */
.hero-section div {

    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    flex-direction: column;
}


.hero-section div h1 {
    position: relative;

    font-size: 36px;
    font-weight: bolder;
    color: white;
    top: -655px;

}

.hero-section div p {
    position: relative;
    max-width: 650px;
    text-align: center;
    line-height: 1.6;
    color: white;
    top: -625px;

}
.hero-section div button{
    position: relative;
    bottom: 195px;
}