* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

    background-color: FFFFFF;
    padding: 15px;
    /* max-width: 1000px; */

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(122, 122, 122);
}

.btn {
    padding: 6px 12px;
    border-radius: 5px;
    color: bisque;
    background-color: blue;
    border: none;
    cursor: pointer;
}

/* navber end  */
.hero-section img {
    /* width: 210vh; */
    width: 100%;
}




.hero-section div {

    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    flex-direction: column;
}


.hero-section div h1 {
    position: relative;

    font-size: 36px;
    font-weight: bolder;
    color: white;
    top: -655px;

}

.hero-section div p {
    position: relative;
    max-width: 650px;
    text-align: center;
    line-height: 1.6;
    color: white;
    top: -625px;

}

.hero-section div button {
    position: relative;
    bottom: 195px;
}

/* hero section end  */
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    /* grid-template-rows: repeat(2,1fr); */
    /* max-width: 1200px; */
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 60px;
    width: 100%;
    /* margin-left: 100px;
    margin-right: 100px; */



}

.card-container {

    border-radius: 10px;
    overflow: hidden;
    width: 360px;
    background-color: #ffffff;
    box-shadow: 8px 4px 12px rgba(0, 0, 0, 0.08);

}



.card-image img {
    /* border-radius: 10px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carg-heading span {
    font-size: 10px;
    font-weight: lighter;

}

.carg-heading h5 {
    font-size: 18px;
    font-weight: 700;
}

.carg-heading p {
    font-size: 14px;
    line-height: 1.4;

}

.carg-heading {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.heading {
    text-align: center;
}


/* first card end  */

.container {
    border-radius: 15px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 10px 12px grey;
    width: 280px;
    padding: 20px;
    margin: 0px;
    margin-bottom: 10px;
    max-width: 1600px;
    /* justify-content: center;
    align-items: center;
     */
}

.card-contant {
    margin-bottom: 25px;
}

.contant-second {

    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.contant-second ul li {

    font-size: 15px;
    color: gray;
    margin-left: 10px;
}

.second-btn button {
    border: 1px solid blue;
    padding: 8px 45px;
    text-align: center;
    color: blue;
    border-radius: 5px;
}

.second-btn {
    text-align: center;
}

.card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;

}

.second {
    background-color: #0D1B2A;
}

.first {
    color: #93C5FD;
}

.second div h2 {
    color: aliceblue;
}

.p {
    color: #FFFFFF;
}

.third button {
    background-color: blue;
    color: antiquewhite;
}

.last  {
    background-color:#0D1B2A ;
    padding: 25px;
   


}
 .first-span {
/* display: flex;
align-items: center;
justify-content: flex-start; */
}
.second-span{
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
}
.third-span{
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
    position: relative;
    right: 5px;
    text-align: right;
} 



.last-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: gray;



}
.aline{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    gap: 10px;

}